body {
  font-family: -apple-system, system-ui, 'Noto Sans';
  background:  #E5E5E5 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAElCAYAAAAlX4gdAAAAAXNSR0IArs4c6QAAADVJREFUOI1jWLdu3X8mBgYGBtwEExMTHllGRsYhJzs4fTRMvTU4fTQiPT2gKZtMb43mN6yyALccBfd/cSQTAAAAAElFTkSuQmCC") top repeat-x;
  color:       #800;
  font-size:   12px;
  max-width: 320px;
  padding:   12px;
  margin:    auto;
  width:     50%
}

hr {
  border-top:1px dotted #000;
}

h2 {
  display: block;
  padding: 0 10px;
}